body{
    margin:0px;
    padding: 0px;
    background-color: whitesmoke;
}


#heading{
    background-color: white;
    font-size: 55px;
    border-bottom: 5px solid whitesmoke;
    
    
}
form{
    height:25px;
    margin-bottom: 35px;
}
#heading p{
    background-color: white;
    margin:25px;
    margin-top: 0;
    padding-left: 4%;
    padding-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#tabs{
    background-color: white;
    margin-bottom: 2%;
 
    
}

button{
    background-color: white;
    border: none;
    font-size: 18px;
    height:30px;
}

#tabs button{
padding:0px;
width: 32%;

}
.tabsButtonActive{
    background-color: gray;
    display: visible;
}
.itemsAreaInactive{
    display: none;
}

#tabs button:hover{
background-color: gray;

}

#item-name-input{
    
    margin-left: 8%;
    width: 80%;
    height:100%;
    border: 1px solid black;
    

    
}

#add-button{
    height:100%;
    width:2.3em;
    background-color: white;
    border:1px solid black;
    
    
}


.pCB{
    font-size: 25px;
    padding-left:1% ;
    
}

.pCBChecked{
    font-size: 25px;
    padding-left:1% ;
    font-style: italic;
    text-decoration: line-through;

}


.deleteButton{
    width: 20px;
    height: 25px;
    margin-left: 100px;
    background-image: url("dustbin2.png");
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border:none;
    position: absolute;
    right:20%;
    
}